/* red */
$redColor: #D32F2F;
$errorMain: $redColor;

/* blue */
$blueColor: #1a3bdd;
$primaryMain: $blueColor;

:export {
    myRed: $redColor;
    blue:$blueColor;
    primary:$primaryMain;
    errorMain:$errorMain;
  }